body {
    background-color: lightblue;
}
a {
    float: right;
    font-size: 20px;
    font-weight: bold;
    margin-right: 20px;
    background-color: #fff;
    color: green;
    border-radius: 5px;
}
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 40px 40px;
}

